@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    
}
.hd{
    height: 90px;
    width: 100%;
    background-color: black;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 90px;
    position: relative;

}
.hd li{
    position: relative;
    display: inline-block;
    
}
.list{
    display: flex;
    justify-content: right;
    font-size: 15pt;
    position: relative;
    bottom: 60px;
}

.list a{

    color: white;
    text-decoration: none;
    padding: 10px;
    position: relative;
}
.list a:hover
{
    background-color: white;
    color: black;
    border-radius: 30px;
}
.tit{
    color: rgb(227, 230, 232);
    padding: 20px;
    margin-left: 80px;
    
}
.mid{
    background: #74a8c0;
    background-image: url('b2.jpeg'); 
    background-blend-mode:overlay ;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    /* background-image: url('b2.jpeg');
    background-blend-mode:overlay; */
    height:80vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    position: relative;
}
.log{
    text-decoration: none;
    color: rgb(15, 15, 15);
    position: relative;
    background-color: rgba(248, 241, 241, 0.614);
    top: 230px;
    font-size: 30pt;
    border:120px;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;

}
.ft{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: azure;
    font-size: 15pt;
    font-family: 'Alkatra', cursive;
}
.log:hover{
    border: 2px solid rgba(240, 234, 234, 0.53);
    background-color: rgba(17, 17, 16, 0.568);
    color:white;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    
}
.hd{
    height: 90px;
    width: 100%;
    background-color: black;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 90px;
    position: relative;

}
.hd li{
    position: relative;
    display: inline-block;
    
}
.list{
    display: flex;
    justify-content: right;
    font-size: 15pt;
    position: relative;
    bottom: 60px;
}

.list a{

    color: white;
    text-decoration: none;
    padding: 10px;
    position: relative;
}
.list a:hover
{
    background-color: white;
    color: black;
    border-radius: 30px;
}
.tit{
    color: rgb(227, 230, 232);
    padding: 20px;
    margin-left: 80px;
    
}
/* .mid{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
   background-image: url('b2.jpeg');
    background-blend-mode:overlay;
    height:80vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    position: relative;
} */
.log{
    text-decoration: none;
    color: rgb(15, 15, 15);
    position: relative;
    background-color: rgba(248, 241, 241, 0.614);
    top: 230px;
    font-size: 30pt;
    border:120px;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;

}
.ft{
    text-align: justify;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: rgba(240, 255, 255, 0.468);
    font-size: 15pt;
    font-family: 'Alkatra', cursive;
}
.log:hover{
    border: 2px solid rgba(240, 234, 234, 0.53);
    background-color: rgba(17, 17, 16, 0.568);
    color:white;

}
